.navbar .nav,
.navbar .nav > li {
  /*float:none;
  display:inline-block;
  *display:inline; /* ie7 fix
  zoom:1;  hasLayout ie7 trigger
  vertical-align: top;
  font-size: 16px;*/
}

.navbar .navbar-nav{
  float: none;
  display: inline-block;
}
nav.main {
  text-align:center;
}

#logo{
  margin-bottom: 10px;
}
#menu {
  padding-left: 0;
}
div#logodiv{
  padding-left: 0;
}

/*form.forma-kerkimit input[type="search"]{
  width:75%;
}
form.forma-kerkimit input[type="button"]{
  width:20%;
}*/

.social {
  font-size: 20px;
  padding: 0px 20px;
  text-align: center;
}
.social i {
  padding: 0px 10px;
  color: #65ACD6;
}

a {
  color: #273D73;
}

#carousel-example-generic{
  margin-top: 25px;
}

#carousel-example-generic img {
  width: 100%;
  max-height: 450px;
  min-height: 450px;
}

.carousel-control{
  background-color: rgba(255, 255, 255, 0);
}

.lajmet {
  margin-top: 20px;
}
.lajmet div {
  display: block;
  height: 150px;
  border: 1px solid #ddd;
  padding: 20px 10px;
}

.carousel-indicators li {
  width: 100%;
  display: block;
}

.law-categories {
  padding: 20px 0px;
}
.law-categories nav {
  background: #fff;
  border: none;
}
.law-categories>nav>ul li {
  display: inline;
  border: 1px solid #fff;
  vertical-align: middle;
  background: #ddd;
  padding: 10px;
  width: 24%;
  height: 69px;
  transition: 200ms;
  border-radius: 5px;
}
.law-categories>nav>ul li:hover {
  background: #eee;
  cursor: pointer;
}
.law-categories>nav>ul li.active {
  background: #eee;
}

.cat-details {
  height: 150px;
  background: #DDDDDD;
  padding: 20px;
}

footer {
  background-color: rgb(51, 122, 183);
}
.kategori-container{
    overflow: hidden;
    /*margin-bottom: 5px;
    margin-top: 5px;*/
    z-index: 0;
    padding: 3px;
}

.kategori-ligjore {
  /*margin: 0 auto;*/
  width: 100%;
  position: relative;
  overflow: hidden;
  /*padding: 5px;*/
  /*padding:55px;*/
  color: #fff;
  font-size: 13pt;
  text-align: center;
  /* Firefox */
  display:flex;
  -moz-box-pack:center;
  -moz-box-align:center;
  justify-content: center;
  align-items: center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  background-color: #337AB7; /* #273D73 */

  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.kategori-ligjore .fa {
  font-size: 27pt;
  opacity: 0.8;
}
.kategori-details {
  /*margin-left: -106%;
  margin-top: -100%;*/
  position: absolute;
  top:0;
  left: -100%;
  background-color: #337AB7; /* #273D73 */
  opacity: 0;
  z-index: 999;
  padding: 10px;
  width: 100%;
  /* Firefox */
  display: flex;
  -moz-box-pack:start;
  -moz-box-align:center;
  justify-content: center;
  align-items: center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:start;
  -webkit-box-align:center;

  /* Internet Explorer 10 */
  /*display:-ms-flexbox;*/
  -ms-flex-pack:start; /* Start sepse me center del jo ne qender, cuditerisht */
  -ms-flex-align:center;

  /* W3C */
  display:box;
  box-pack:start;
  box-align:center;
  color: #fff;

  /*display: -ms-inline-table;*/
  /*vertical-align: middle;*/
}
.kategori-container:hover .kategori-details {
  -webkit-transition: margin-left 0.2s;
  transition: margin-left 0.2s;
}
.kategori-ligjore-titull {
  padding: 5px;
  display: inline-table;
  /*white-space: pre-wrap;  */
  /*width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 0px;
  bottom: 0px;
  right: 0px;*/
}
.kategori-details ul{
  list-style-type: none;
  padding-left: 0;
  margin: auto;
  /*display: table-cell;*/
  /*vertical-align: middle;*/
}

.kategori-details a.kat-link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.kategori-details ul li a{
  color: #fff;
}
.kategori-details ul li:first-child a{
  font-size: 15pt;
}
.kategori-details ul a{
  color: #ccc;
  font-size: 12px;
}
.kategori-details ul li{
  margin: 0;
  line-height: 17px;
}
.kategori-title a {
  color: #fff;
}


hr.underline{
  width: 33%;
  margin: 0px 33%;
  border: 1px solid #B0C9D8;
  position: absolute;
  bottom: 15px;
  left: 0;
}
.page-parts-images{
  margin-top: 10px;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* W3C */
  display:box;
  box-pack:start;
  box-align:center;
}
.round {
  margin: auto;
  font-size: 33px;
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
  padding: 0px 11px;
  opacity: 0.7;
}
.round .fa {
  color: #fff;
  opacity: 1;
}
/*.round:hover{
  background-color: #337AB7;
  color: #fff;
  cursor: pointer;
}*/

.page-parts{
  background-color: #f2f5f7;;
  min-height:290px;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  /*box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);*/
}
.page-parts img {
  width: 100px;
  float: left;
  margin: 0 7px 0 0;
}
.page-parts h4 {
  text-transform: uppercase;
}
.page-parts a{
  color: #0076BD;;
}
.page-parts .btn {
  margin-top: 10px;
  border-radius: 0;
  background-color: #005696;
  color: #fff;
  border: 1px solid #005696;
}
.page-parts>div{
  margin-bottom: 15px;
}


.homepage-info {
  padding: 0!important;
  margin: 10px 0;
}

.header-container{

}
.menu-container {
  /*background-color: rgb(51, 122, 183);*/
  /* left, #0A4C8A, #1a82f7 ngjyrat e meparshme */
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(26, 130, 247, 0.8)), to(rgba(10, 76, 138, 0.8)));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, rgba(10, 76, 138, 0.8), rgba(26, 130, 247, 0.8));
  /* Firefox 3.6+ */
  background: transparent -moz-linear-gradient(left center , rgba(10, 76, 138, 0.8), rgba(26, 130, 247, 0.8)) repeat scroll 0% 0%;
  /* IE 10 */
  background: -ms-linear-gradient(left, rgba(10, 76, 138, 0.8), rgba(26, 130, 247, 0.8));
  /* Opera 11.10+ */
  background: -o-linear-gradient(left,rgba(10, 76, 138, 0.8), rgba(26, 130, 247, 0.8));
}

.navbar {
  margin-bottom: 0;
  background-color: rgba(51, 122, 183, 0);
  border: none;
  /*background-color: #555;*/
}

.navbar ul.nav li>a {
  color: #fff;
  white-space: nowrap;
  padding: 15px!important;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #193673;
}
.nav > li.active > a {
  background-color: #193673;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #5588BA;
  color: #fff;
}
li.dropdown{
  position: unset;
}
.dropdown-menu {
  background-color: #337AB7;
  padding: 0;
  border-radius: 0;
  position: absolute;
  left: 0!important;
}

.dropdown-menu li {
  display: inline-block;
}

#dropdown-menu {
  border-top: 1px solid #fff;
}

#logo {
  float: left;
}

#search-input{
  border-radius: 0;
}

.buton-kerkimi {
  /*position: relative;
  margin-top: -37px;
  float: right;
  margin-right:  3px;*/
  /*margin-right: -5px;
  border-radius: 0;*/
  background-color: #005696;
  color: #fff;
  cursor: pointer;
}

#search-results{
  position: absolute;
  z-index: 999;
}
.search-result {
  margin-top: 20px;
}

#results-container{
  /*position: absolute;*/
  background: #fff;
  list-style: none;
  font-size: 13px;
  top: 20px;
  left: 5px;
  margin: 0;
  padding: 0px 5px;
  border: 1px solid #d1d1d1;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  z-index: 9999;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#results-container li {
  padding: 0 20px;
  font-size: 14px;
}

.feedback-popup{
  position: fixed;
  bottom: 50px;
  right: -300px;
  z-index: 11;
  width: 300px;
  height: auto;
  border: 2px solid #4594EA;
  border-radius: 0;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

#feedback{
  position: fixed;
  bottom: 100px;
  right: -70px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  display: block;
  z-index: 10;
  border: 1px solid #337AB7;
  padding:5px 10px;
  color: #fff;
  background-color: #337AB7;
  cursor: pointer;
}

.controls {
  float:right;
}
.controls button[name="inc"]{
  height: 33px;
  font-size: 15px;
  /*border-radius: 0 5px 5px 0;*/
  border-radius: 0;
  width: 45px;
}
.controls button[name="dec"]{
  height: 33px;
  font-size: 11px;
  /*border-radius: 5px 0 0 5px;*/
  border-radius: 0;
  width: 45px;
}

.custom-nav-tabs{
    margin-top: 20px;
}
.custom-nav-tabs li {
  margin: 0;
  width: 100%;
}
.custom-nav-tabs li a {
  margin: 0;
}
.custom-nav-tabs li.active a{
  color: #fff;
  border-radius: 0px;
  margin: 0px;
  border: none;
}
.custom-nav-tabs li.active a:focus, .custom-nav-tabs li.active a:hover{
  background-color: #193673;;
  color: #fff;
}
.custom-nav-tabs li a:hover{
  background-color: #193673;
  color: #fff;
  border: none;
  margin: 0px;
  border-radius: 0;
}

.kat-title{
  color: #003376;
  text-align: left;
  padding-left: 15px;
}

.note {
  position: relative;
  /*width: 10%;*/
  height: 200px;
  padding: 1em 1.5em;
  margin: 1em 0;
  color: #3C75AB;
  background-color: #eee;


  /* Firefox */
  display:-moz-box;
  -moz-box-pack:start;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:start;
  -webkit-box-align:center;

  /* Internet Explorer 10 */
  /*display:-ms-flexbox;*/
  -ms-flex-pack:start;
  -ms-flex-align:center;

  /* W3C */
  display:box;
  box-pack:start;
  box-align:center;

  box-shadow: 3px 3px 1px #3c75ab;
  transition: background-color 0.3s;
  cursor: pointer;
}
.note:hover{
  background-color: #97f3f6;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /*border-width: 0 16px 16px 0;*/
  border-width: 0 0 21px 21px;
  border-style: solid;
  border-color: #3C75AB #fff;
}
.note a{
  color: #3C75AB;
  text-decoration: underline;
  line-height: 23px;
  font-size: 17px;
}

.docx {
  border: 1px solid #ccc;
  height: 150px;
  /* Firefox */
  display:flex;
  -moz-box-pack:center;
  -moz-box-align:center;
  justify-content: center;
  align-items: center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  text-align: center;
}
.doc {
  display: block;
  height: 100%;

}
.docx img {
  margin: auto;
  display: block;
}
.docx a {
  display: inline-table;
}
.doc-icon {
  background: url("/img/icon-word.png") center no-repeat;
  height:100px;
}

.post-title {
  padding-left: 15px;
}

.fjalorth-entry h4{
  margin-top: 25px;
}

.te-tjera{
  background-color: #e6e7e8;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.disclaimer {
  margin-top: 25px;
  margin-bottom: 100px;
}
.legal-reference {
  font-style: italic;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  padding: 10px;
  margin-top: 30px;
}
.tab-content {
  text-align: justify;
}

.lidhje {
  margin-bottom: 20px;
  cursor: pointer;
}
.pa-lidhje {
  height: 160px;
  position:relative;
  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}
.pa-lidhje:before{
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgb(0,0,0);
  opacity: 0.25;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.pa-lidhje:hover:before {
  opacity: 0.1;
}

/* imazhet e tileve ne home page */
.home .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/front-1.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #014b67;
}

.home .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/front-2.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #7D93B4;
}

.home .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/front-3.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #4879a9;
}

.home .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/front-4.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #63ab45;
}

.home .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/front-5.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #2c3c4d;
}

.home .kategori-container:nth-of-type(6) > .kategori-ligjore{
  background: url("/img/front-6.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(6) .kategori-details{
  background-color: #006696;
}

.home .kategori-container:nth-of-type(7) > .kategori-ligjore{
  background: url("/img/front-7.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(7) .kategori-details{
  background-color: #6783b3;
}

.home .kategori-container:nth-of-type(8) > .kategori-ligjore{
  background: url("/img/front-8.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(8) .kategori-details{
  background-color: #6783B3;
}

.home .kategori-container:nth-of-type(9) > .kategori-ligjore{
  background: url("/img/front-9.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(9) .kategori-details{
  background-color: #5a97cc;
}

.home .kategori-container:nth-of-type(10) > .kategori-ligjore{
  background: url("/img/front-10.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(10) .kategori-details{
  background-color: #e59638;
}

.home .kategori-container:nth-of-type(11) > .kategori-ligjore{
  background: url("/img/front-11.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(11) .kategori-details{
  background-color: #014b67;
}

.home .kategori-container:nth-of-type(12) > .kategori-ligjore{
  background: url("/img/front-12.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(12) .kategori-details{
  background-color: #a81313;
}

.home .kategori-container:nth-of-type(13) > .kategori-ligjore{
  background: url("/img/front-13.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(13) .kategori-details{
  background-color: #e59638;
}

.home .kategori-container:nth-of-type(14) > .kategori-ligjore{
  background: url("/img/front-14.png") center no-repeat;
  background-size: 100% 100%;
}
.home .kategori-container:nth-of-type(14) .kategori-details{
  background-color: #2c3c4d;
}

/* fotot e punës */
.puna .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/puna-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #004B68;
}
.puna .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/puna-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #004B68;
}
.puna .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/puna-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #004B68;
}
.puna .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/puna-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #004B68;
}
.puna .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/puna-5.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #004B68;
}
.puna .kategori-container:nth-of-type(6) > .kategori-ligjore{
  background: url("/img/puna-6.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(6) .kategori-details{
  background-color: #004B68;
}
.puna .kategori-container:nth-of-type(7) > .kategori-ligjore{
  background: url("/img/puna-7.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(7) .kategori-details{
  background-color: #004B68;
}
.puna .kategori-container:nth-of-type(8) > .kategori-ligjore{
  background: url("/img/puna-8.jpg") center no-repeat;
  background-size: 100% 100%;
}
.puna .kategori-container:nth-of-type(8) .kategori-details{
  background-color: #004B68;
}

/* fotot e sigurimeve */
.sigurimet .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/sigurimet-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.sigurimet .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #04445D;
}
.sigurimet .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/sigurimet-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.sigurimet .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #4A78A9;
}
.sigurimet .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/sigurimet-3.png") center no-repeat;
  background-size: 100% 100%;
}
.sigurimet .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #4A78A9;
}
.sigurimet .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/sigurimet-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.sigurimet .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #267BA4;
}

/* fotot e kodit rrugor */
.kodi-rrugor .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/kodi-1.png") center no-repeat;
  background-size: 100% 100%;
}
.kodi-rrugor .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #004B67;
}
.kodi-rrugor .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/kodi-2.png") center no-repeat;
  background-size: 100% 100%;
}
.kodi-rrugor .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #4A78A9;
}
.kodi-rrugor .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/kodi-3.png") center no-repeat;
  background-size: 100% 100%;
}
.kodi-rrugor .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #4A78A9;
}
.kodi-rrugor .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/kodi-4.png") center no-repeat;
  background-size: 100% 100%;
}
.kodi-rrugor .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #4978A9;
}
.kodi-rrugor .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/kodi-5.png") center no-repeat;
  background-size: 100% 100%;
}
.kodi-rrugor .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #4A78A9;
}
.kodi-rrugor .kategori-container:nth-of-type(6) > .kategori-ligjore{
  background: url("/img/kodi-6.png") center no-repeat;
  background-size: 100% 100%;
}
.kodi-rrugor .kategori-container:nth-of-type(6) .kategori-details{
  background-color: #6784B3;
}
.kodi-rrugor .kategori-container:nth-of-type(7) > .kategori-ligjore{
  background: url("/img/kodi-7.jpg") center no-repeat;
  background-size: 100% 100%;
}
.kodi-rrugor .kategori-container:nth-of-type(7) .kategori-details{
  background-color: #4A78A9;
}

/* fotot e mjedisit */
.mjedisi .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/mjedisi-1.png") center no-repeat;
  background-size: 100% 100%;
}
.mjedisi .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #004B67;
}
.mjedisi .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/mjedisi-2.png") center no-repeat;
  background-size: 100% 100%;
}
.mjedisi .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #4978A9;
}
.mjedisi .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/mjedisi-3.png") center no-repeat;
  background-size: 100% 100%;
}
.mjedisi .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #004B67;
}
.mjedisi .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/mjedisi-4.png") center no-repeat;
  background-size: 100% 100%;
}
.mjedisi .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #004B67;
}

/* fotot e ankimit */
.ankimi .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/ankimi-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ankimi .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #004B67;
}
.ankimi .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/ankimi-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ankimi .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #A81313;
}
.ankimi .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/ankimi-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ankimi .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #E59638;
}
.ankimi .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/ankimi-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ankimi .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #2C3C4C;
}

/* fotot e informimit */
.informimi .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/ankimi-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.informimi .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #004B67;
}
.informimi .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/ankimi-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.informimi .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #AC1011;
}

/* fotot e familja */
.familja .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/familja-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.familja .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #768DAF;
}
.familja .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/familja-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.familja .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #4979A9;
}
.familja .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/familja-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.familja .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #E59638;
}
.familja .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/familja-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.familja .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #2C3C4C;
}
.familja .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/familja-5.jpg") center no-repeat;
  background-size: 100% 100%;
}
.familja .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #004B67;
}
.familja .kategori-container:nth-of-type(6) > .kategori-ligjore{
  background: url("/img/familja-6.jpg") center no-repeat;
  background-size: 100% 100%;
}
.familja .kategori-container:nth-of-type(6) .kategori-details{
  background-color: #70A4D4;
}
.familja .kategori-container:nth-of-type(7) > .kategori-ligjore{
  background: url("/img/familja-7.jpg") center no-repeat;
  background-size: 100% 100%;
}
.familja .kategori-container:nth-of-type(7) .kategori-details{
  background-color: #E3B786;
}

/* fotot e ndihmes juridike */
.ndihma .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/ndihma-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ndihma .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #22627B;
}
.ndihma .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/ndihma-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ndihma .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #4D5E70;
}
.ndihma .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/ndihma-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ndihma .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #2AAEB0;
}
.ndihma .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/ndihma-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.ndihma .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #5F9756;
}

/* fotot e konsumatorit */
.konsumatori .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/konsumatori-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.konsumatori .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #004B67;
}
.konsumatori .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/konsumatori-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.konsumatori .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #70A4D4;
}
.konsumatori .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/konsumatori-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.konsumatori .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #70A4D4;
}
.konsumatori .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/konsumatori-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.konsumatori .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #E59638;
}
.konsumatori .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/konsumatori-5.jpg") center no-repeat;
  background-size: 100% 100%;
}
.konsumatori .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #2C3C4C;
}

/* fotot e pasurise */
.pasuria .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/pasuria-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #004B67;
}
.pasuria .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/pasuria-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #63ab45;
}
.pasuria .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/pasuria-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #2C3C4C;
}
.pasuria .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/pasuria-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #6783B3;
}
.pasuria .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/pasuria-5.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #004B67;
}
.pasuria .kategori-container:nth-of-type(6) > .kategori-ligjore{
  background: url("/img/pasuria-6.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(6) .kategori-details{
  background-color: #6783B3;
}
.pasuria .kategori-container:nth-of-type(7) > .kategori-ligjore{
  background: url("/img/pasuria-7.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(7) .kategori-details{
  background-color: #70A4D4;
}
.pasuria .kategori-container:nth-of-type(8) > .kategori-ligjore{
  background: url("/img/pasuria-8.jpg") center no-repeat;
  background-size: 100% 100%;
}
.pasuria .kategori-container:nth-of-type(8) .kategori-details{
  background-color: #e59638;
}

/* fotot e bashkepronesise */
.bashkepronesia .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/bashkepronesia-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.bashkepronesia .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #014B68;
}
.bashkepronesia .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/bashkepronesia-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.bashkepronesia .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #6783B3;
}
.bashkepronesia .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/bashkepronesia-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.bashkepronesia .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #A04847;
}
.bashkepronesia .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/bashkepronesia-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.bashkepronesia .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #7E91B2;
}
.bashkepronesia .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/bashkepronesia-5.jpg") center no-repeat;
  background-size: 100% 100%;
}
.bashkepronesia .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #014B68;
}
.bashkepronesia .kategori-container:nth-of-type(6) > .kategori-ligjore{
  background: url("/img/bashkepronesia-6.jpg") center no-repeat;
  background-size: 100% 100%;
}
.bashkepronesia .kategori-container:nth-of-type(6) .kategori-details{
  background-color: #6783B3;
}

/* fotot e tatimet */
.tatimet .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/tatimet-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.tatimet .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #5375A5;
}
.tatimet .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/tatimet-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.tatimet .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #6783B3;
}
.tatimet .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/tatimet-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.tatimet .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #44A7A4;
}
.tatimet .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/tatimet-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.tatimet .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #7689A9;
}
.tatimet .kategori-container:nth-of-type(5) > .kategori-ligjore{
  background: url("/img/tatimet-5.jpg") center no-repeat;
  background-size: 100% 100%;
}
.tatimet .kategori-container:nth-of-type(5) .kategori-details{
  background-color: #004B67;
}
.tatimet .kategori-container:nth-of-type(6) > .kategori-ligjore{
  background: url("/img/tatimet-6.jpg") center no-repeat;
  background-size: 100% 100%;
}
.tatimet .kategori-container:nth-of-type(6) .kategori-details{
  background-color: #004B67;
}

/* fotot e procesi */
.procesi .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/procesi-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.procesi .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #43562C;
}
.procesi .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/procesi-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.procesi .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #B93F3E;
}
.procesi .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/procesi-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.procesi .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #6783B3;
}
.procesi .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/procesi-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.procesi .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #4979A9;
}

/* fotot e demi */
.demi .kategori-container:nth-of-type(1) > .kategori-ligjore{
  background: url("/img/demi-1.jpg") center no-repeat;
  background-size: 100% 100%;
}
.demi .kategori-container:nth-of-type(1) .kategori-details{
  background-color: #4979A9;
}
.demi .kategori-container:nth-of-type(2) > .kategori-ligjore{
  background: url("/img/demi-2.jpg") center no-repeat;
  background-size: 100% 100%;
}
.demi .kategori-container:nth-of-type(2) .kategori-details{
  background-color: #6783B3;
}
.demi .kategori-container:nth-of-type(3) > .kategori-ligjore{
  background: url("/img/demi-3.jpg") center no-repeat;
  background-size: 100% 100%;
}
.demi .kategori-container:nth-of-type(3) .kategori-details{
  background-color: #2E899B;
}
.demi .kategori-container:nth-of-type(4) > .kategori-ligjore{
  background: url("/img/demi-4.jpg") center no-repeat;
  background-size: 100% 100%;
}
.demi .kategori-container:nth-of-type(4) .kategori-details{
  background-color: #24647D;
}

@media all and (max-width: 1580px){
  #page-header{
    background-size: auto 100% !important;
  }
}

@media all and (max-width: 992px){
  form.site-search {
    text-align: center;
  }
}

@media all and (max-width: 767px){
  .te-tjera {
    margin-bottom: 140px;
  }
  div#logodiv{
    margin: 10px auto;
  }
  #page-header{
    background-image: none !important;
    min-height: 0 !important;
  }
  .kategori-container{
    height: 100px;
  }
  .kategori-ligjore{
    width: 85%;
    height:100px;
    margin: auto;
    background-size: 100%!important;
  }
  .page-parts {
    min-height: auto;
  }
  ul.nav-justified {
    width: 50%;
    float: left;
  }
  ul.nav-justified li>a{
    text-align: left;
    white-space: normal!important;
  }

  .menu-container .container {
    padding: 0;
  }

  #dropdown-menu {
    /*border-bottom: 1px solid rgb(255, 255, 255);*/
    border-top: none;
    width: 50%;
    float: right;
    padding-top: 0;
    margin-top: 0;
    text-align: left;
    border-left: 1px solid #fff;
    z-index: 1;
  }

  #dropdown-menu a{
    white-space: unset;
  }
}
