---
layout: default
title: Pasuria e paluajtshme
image: pasuria-e-paluajtshme.png
category: pasuria-e-paluajtshme
permalink: /pasuria-e-paluajtshme/
---
<main id="content" class="content container pasuria" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.pasuria-e-paluajtshme %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->
  <h2 class="kat-title"><i class="fa fa-home"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Regjistri i pasurive të paluajtshme
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/regjistri">Regjistri i pasurive të paluajtshme</a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "regjistri" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/regjistri#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Çertifikata e pronësisë dhe çertifikatat e përdorimit të pronësisë
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/certifikata">Çertifikata e pronësisë dhe çertifikatat e përdorimit të pronësisë </a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "certifikata" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/certifikata#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Procesi i regjistrimit të pasurive të paluajtshme
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/procesi-i-regjistrimit">Procesi i regjistrimit të pasurive të paluajtshme</a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "procesi-i-regjistrimit" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/procesi-i-regjistrimit#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Korrigjimi i gabimeve
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/korrigjimi-i-gabimeve/">Korrigjimi i gabimeve</a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "korrigjimi-i-gabimeve" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/korrigjimi-i-gabimeve#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Tarifat
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/tarifat/">Tarifat</a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "tarifat" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/tarifat#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Shkeljet
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/shkeljet/">Shkeljet</a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "shkeljet" %}
          {% assign counter4=counter4 | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/shkeljet#{{counter4}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Ankimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/ankimi/">Ankimi</a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "ankimi" %}
          {% assign counter5=counter5 | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/ankimi#{{counter5}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        E drejta për informim
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/pasuria-e-paluajtshme/e-drejta-per-informim/">E drejta për informim</a></li>
          {% for file in site.pasuria-e-paluajtshme-collection %}
          {% if file.tag == "e-drejta-per-informim" %}
          {% assign counter6=counter6 | plus:1 %}
            <li><a href="/pasuria-e-paluajtshme/e-drejta-per-informim#{{counter6}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

</main>
