---
layout: default
title: Proceset Gjyqesore
image: familja.png
category: procesi
permalink: /proceset-gjyqesore
---
<main id="content" class="content container proceset-gjyqesore" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.proceset-gjyqesore %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %} -->
<h2 class="kat-title"><i class="fa fa-users"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Procesi Gjyqesor Civil
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/proceset-gjyqesore/procesi-gjyqesor-civil"> Procesi Gjyqesor Civil</a></li>
          {% for file in site.proceset-gjyqesore-collection %}
          {% if file.tag == "/proceset-gjyqesore/procesi-gjyqesor-civil" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/proceset-gjyqesore/procesi-gjyqesor-civil#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Procesi Gjyqesor Penal
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/proceset-gjyqesore/procesi-gjyqesor-penal">Procesi Gjyqesor Penal </a></li>
          {% for file in site.proceset-gjyqesore-collection %}
          {% if file.tag == "procesi-gjyqesor-penal" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/proceset-gjyqesore/procesi-gjyqesor-penal#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Procesi Gjyqesor Administrativ
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/proceset-gjyqesore/procesi-gjyqesor-administrativ">Procesi Gjyqesor Administrativ</a></li>
          {% for file in site.proceset-gjyqesore-collection %}
          {% if file.tag == "procesi-gjyqesor-administrativ" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/proceset-gjyqesore/procesi-gjyqesor-administrativ#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </div> 
</main>
