---
layout: default
title: Njoh ligjin
image: cover2.png
---
<main id="content" class="content container" style="margin-bottom: 40px;">
<div class="row home">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-cogs"></i><br>
        PUNA
      </div>
      <div class="kategori-details" id="puna">
        <a href="/puna/" class="kat-link"></a>
          <ul>
            <li><a href="/puna/">Puna</a></li>
            {% assign posts = site.puna-collection | where: "role","main" | sort: "order" %}
            {% for file in posts | sort: order %}
              <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
        <div class="kategori-ligjore-titull">
          <i class="fa fa-shield"></i><br>
          SIGURIMET SHOQËRORE
        </div>
        <div class="kategori-details">
          <a href="/sigurimet-shoqerore/" class="kat-link"></a>
          <ul>
            <li><a href="/sigurimet-shoqerore/">Sigurimet shoqërore</a></li>
            {% assign posts = site.sigurimet-shoqerore-collection | where: "role","main" | sort: "order" %}
            {% for file in posts | sort: order %}
              <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-car"></i><br>
        KODI RRUGOR
      </div>
      <div class="kategori-details">
        <a href="/kodi-rrugor/" class="kat-link"></a>
        <ul>
          <li><a href="/kodi-rrugor/">Kodi rrugor</a></li>
          {% assign posts = site.kodi-rrugor-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-tree"></i><br>
        MJEDISI
      </div>
      <div class="kategori-details">
        <a href="/mjedisi/" class="kat-link"></a>
        <ul>
          <li><a href="/mjedisi/">Mjedisi</a></li>
          {% assign posts = site.mjedisi-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-university"></i><br>
        ANKIMI ADMINISTRATIV
      </div>
      <div class="kategori-details">
        <a href="/ankimi-administrativ/" class="kat-link"></a>
        <ul>
          <li><a href="/ankimi-administrativ/">Ankimi Administrativ</a></li>
          {% assign posts = site.ankimi-administrativ-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-info-circle"></i><br>
        INFORMIMI PUBLIK
      </div>
      <div class="kategori-details">
        <a href="/informimi-publik/" class="kat-link"></a>
        <ul>
          <li><a href="/informimi-publik/">Informimi publik</a></li>
          {% assign posts = site.informimi-publik-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-users"></i><br>
        FAMILJA
      </div>
      <div class="kategori-details">
        <a href="/familja/" class="kat-link"></a>
        <ul>
          <li><a href="/familja/">Familja</a></li>
          {% assign posts = site.familja-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-balance-scale"></i><br>
        NDIHMA JURIDIKE
      </div>
      <div class="kategori-details">
        <a href="/ndihma-juridike/" class="kat-link"></a>
        <ul>
          <li><a href="/ndihma-juridike/">Ndihma juridike</a></li>
          {% assign posts = site.ndihma-juridike-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-shopping-cart"></i><br>
        KONSUMATORI
      </div>
      <div class="kategori-details">
        <a href="/konsumatori/" class="kat-link"></a>
        <ul>
          <li><a href="/konsumatori/">Konsumatori</a></li>
          {% assign posts = site.konsumatori-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
 
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-book"></i><br>
       Diskriminimi
      </div>
      <div class="kategori-details">
        <a href="/diskriminimi/" class="kat-link"></a>
        <ul>
          <li><a href="/diskriminimi/">Diskriminimi</a></li>
          {% assign posts = site.diskriminimi-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
          <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-home"></i><br>
        PASURIA E PALUAJTSHME
      </div>
      <div class="kategori-details">
        <a href="/pasuria-e-paluajtshme/" class="kat-link"></a>
          <ul>
            <li><a href="/pasuria-e-paluajtshme/">Pasuria e paluajtshme</a></li>
            {% assign posts = site.pasuria-e-paluajtshme-collection | where: "role","main" | sort: "order" %}
            {% for file in posts | sort: order %}
              <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-money"></i><br>
        TATIMET DHE TAKSAT
      </div>
      <div class="kategori-details">
        <a href="/tatimet-dhe-taksat/" class="kat-link"></a>
        <ul>
          <li><a href="/tatimet-dhe-taksat/">Tatimet dhe taksat</a></li>
          {% assign posts = site.tatimet-dhe-taksat-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-building"></i><br>
        BASHKËPRONËSIA NË NDËRTESAT E BANIMIT
      </div>
      <div class="kategori-details">
        <a href="/bashkepronesia-ne-ndertesa/" class="kat-link"></a>
        <ul>
          <li><a href="/bashkepronesia-ne-ndertesa/">Bashkëpronësia në ndërtesat e banimit</a></li>
          {% assign posts = site.bashkepronesia-ne-ndertesa-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
            <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
        <div class="kategori-ligjore-titull">
          <i class="fa fa-exclamation"></i><br>
          SHKAKTIMI I DËMIT
        </div>
        <div class="kategori-details">
          <a href="/shkaktimi-i-demit/" class="kat-link"></a>
          <ul>
            <li><a href="/shkaktimi-i-demit/">Shkaktimi i dëmit</a></li>
            {% assign posts = site.shkaktimi-i-demit-collection | where: "role","main" | sort: "order" %}
            {% for file in posts | sort: order %}
              <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-book"></i><br>
        STRATEGJIA PËR EDUKIMIN LIGJOR TË PUBLIKUT 2018-2022
      </div>
      <div class="kategori-details">
        <a href="/strategjia-per-edukimin-ligjor/" class="kat-link"></a>
        <ul>
          <li><a href="/strategjia-per-edukimin-ligjor/">Strategjia për edukimin ligjor të publikut 2018-2022</a></li>
          {% assign posts = site.strategjia-per-edukimin-ligjor-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
          <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    </div>
<div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-book"></i><br>
       Të dhënat personale
      </div>
      <div class="kategori-details">
        <a href="/mbrojtja/" class="kat-link"></a>
        <ul>
          <li><a href="/mbrojtja/">Të dhënat personale</a></li>
          {% assign posts = site.mbrojtja-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
          <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div><div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-book"></i><br>
       Procesi Gjyqesor Administrativ
      </div>
      <div class="kategori-details">
        <a href="/procesi-administrativ/" class="kat-link"></a>
        <ul>
          <li><a href="/procesi-administrativ/">Procesi Gjyqesor Administrativ</a></li>
          {% assign posts = site.procesi-administrativ-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
          <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-book"></i><br>
       Procesi Gjyqesor Penal
      </div>
      <div class="kategori-details">
        <a href="/procesi-penal/" class="kat-link"></a>
        <ul>
          <li><a href="/procesi-penal/">Procesi Gjyqesor Penal</a></li>
          {% assign posts = site.procesi-penal-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
          <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-book"></i><br>
       Procesi Gjyqesor Civil
      </div>
      <div class="kategori-details">
        <a href="/procesi-civil/" class="kat-link"></a>
        <ul>
          <li><a href="/procesi-civil/">Procesi Gjyqesor Civil</a></li>
          {% assign posts = site.procesi-civil-collection | where: "role","main" | sort: "order" %}
          {% for file in posts | sort: order %}
          <li><a href="{{ BASE_PATH }}{{ file.permalink }}">{{ file.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div></div>
</main>
<div class="clearfix"></div>
<div class="te-tjera">
  <div class="container">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">
    <div class="text-left">
      <img src="/img/1.png" alt="Rreth projektit" />
      <h4><a href="/rreth-faqes">Rreth projektit</a></h4>
      Ligjet shërbejnë për të rregullar marrëdhëniet brenda një shoqërie të caktuar dhe përbëjnë bazën për mënyrën se si ne ndërveprojmë në jetën tonë të përditshme.
    </div>
    <hr class="underline">
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">


    <div class="text-left">
      <img src="/img/2.png" alt="Burime dhe dokumente"/>
      <h4><a href="/burime">Burime dhe dokumente</a></h4>
      Këtu mund të gjeni burime të tjera informacioni, nëpërmjet publikimeve në fusha të ndryshme si të drejtat e të paraburgosurve, mbrojtja kundër diskriminimit, dhe shembuj dokumentesh të nevojshme për t’ju drejtuar gjykatës.
    </div>
    <hr class="underline">
    </div>

  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">
    <div class="text-left">
      <img src="/img/3.png" alt="Fjalorth"/>
      <h4><a href="/fjalorth">Fjalorth</a></h4>
      Për një sqarim të disa prej koncepteve juridike të përmendura në këtë faqe referojuni fjalorit.
    </div>
    <hr class="underline">
    <!-- <a href="/fjalorth" class="btn btn-default">Më shumë</a> -->
    </div>

  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">
    <div class="text-left">
      <img src="/img/4.png" alt="Lidhje"/>
      <h4><a href="/links">Lidhje</a></h4>
      Nëpërmjet njohligjin.al mund të lidheni gjithashtu me faqe te tjera të dobishme si ato të legjislacionit në fuqi, institucioneve shtetërore që janë në funksion të qytetarit, dhe organizatave të ndryshme.
    </div>
    <hr class="underline">
    <!-- <a href="/links" class="btn btn-default">Më shumë</a> -->
    </div>

  </div>
  </div>
  <!-- <div class="clearfix"></div> -->
  <p></p>
  <p></p>
  <p></p>
</div>
