---
layout: default
title: Njoh ligjin
image: cover2.png
---
<main id="content" class="content container" style="margin-bottom: 40px;">
<div class="row home">
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-cogs"></i><br>
        PUNA
      </div>
      <div class="kategori-details" id="puna">
        <ul>
          <li><a href="/puna/">Puna</a></li>
          {% for post in site.categories.puna reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
        <div class="kategori-ligjore-titull">
          <i class="fa fa-shield"></i><br>
          SIGURIMET SHOQËRORE
        </div>
        <div class="kategori-details">
          <ul>
            <li><a href="/sigurimet-shoqerore/">Sigurimet shoqërore</a></li>
            {% for post in site.categories.sigurimet-shoqerore reversed %}
              <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}

          </ul>
        </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-car"></i><br>
        KODI RRUGOR
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/">Kodi rrugor</a></li>
            {% for post in site.categories.kodi-rrugor reversed %}
              <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}

        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-tree"></i><br>
        MJEDISI
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/mjedisi/">Mjedisi</a></li>
          {% for post in site.categories.mjedisi reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-university"></i><br>
        ANKIMI ADMINISTRATIV
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ankimi-administrativ/">Ankimi Administrativ</a></li>
          {% for post in site.categories.ankimi-administrativ reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-info-circle"></i><br>
        INFORMIMI PUBLIK
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/informimi-publik/">Informimi publik</a></li>
          {% for post in site.categories.informimi-publik reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-users"></i><br>
        FAMILJA
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/familja/">Familja</a></li>
          {% for post in site.categories.familja reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-balance-scale"></i><br>
        NDIHMA JURIDIKE
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/">Ndihma juridike</a></li>
          {% for post in site.categories.ndihma-juridike reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-shopping-cart"></i><br>
        KONSUMATORI
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/konsumatori/">Konsumatori</a></li>
          {% for post in site.categories.konsumatori reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-gavel"></i><br>
        PROCESI GJYQËSOR CIVIL
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-gjyqesor-civil/">Procesi gjyqësor civil</a></li>
          {% for post in site.categories.procesi-gjyqesor-civil reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-home"></i><br>
        PASURIA E PALUAJTSHME
      </div>
      <div class="kategori-details">
          <ul>
            <li><a href="/pasuria-e-paluajtshme/">Pasuria e paluajtshme</a></li>
            {% for post in site.categories.pasuria-e-paluajtshme reversed %}
              <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-money"></i><br>
        TATIMET DHE TAKSAT
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/tatimet-dhe-taksat/">Tatimet dhe taksat</a></li>
          {% for post in site.categories.tatimet-dhe-taksat reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        <i class="fa fa-building"></i><br>
        BASHKËPRONËSIA NË NDËRTESAT E BANIMIT
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/bashkepronesia-ne-ndertesa/">Bashkëpronësia në ndërtesat e banimit</a></li>
          {% for post in site.categories.bashkepronesia-ne-ndertesa reversed %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-sm-4 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
        <div class="kategori-ligjore-titull">
          <i class="fa fa-exclamation"></i><br>
          SHKAKTIMI I DËMIT
        </div>
        <div class="kategori-details">
          <ul>
            <li><a href="/shkaktimi-i-demit/">Shkaktimi i dëmit</a></li>
            {% for post in site.categories.shkaktimi-i-demit reversed %}
              <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
</div>

</main>
<div class="clearfix"></div>

<div class="te-tjera">
  <div class="container">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">

    <div class="text-left">
      <img src="/img/1.png" alt="Rreth projektit" />
      <h4><a href="/about">Rreth projektit</a></h4>
      Ligjet shërbejnë për të rregullar marrëdhëniet brenda një shoqërie të caktuar dhe përbëjnë bazën për mënyrën se si ne ndërveprojmë në jetën tonë të përditshme.
    </div>
    <hr class="underline">
    </div>

  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">


    <div class="text-left">
      <img src="/img/2.png" alt="Burime dhe dokumente"/>
      <h4><a href="/burime">Burime dhe dokumente</a></h4>
      Këtu mund të gjeni burime të tjera informacioni, nëpërmjet publikimeve në fusha të ndryshme si të drejtat e të paraburgosurve, mbrojtja kundër diskriminimit, dhe shembuj dokumentesh të nevojshme për t’ju drejtuar gjykatës.
    </div>
    <hr class="underline">
    </div>

  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">
    <div class="text-left">
      <img src="/img/3.png" alt="Fjalorth"/>
      <h4><a href="/fjalorth">Fjalorth</a></h4>
      Për një sqarim të disa prej koncepteve juridike të përmendura në këtë faqe referojuni fjalorit.
    </div>
    <hr class="underline">
    <!-- <a href="/fjalorth" class="btn btn-default">Më shumë</a> -->
    </div>

  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="page-parts">
    <div class="text-left">
      <img src="/img/4.png" alt="Lidhje"/>
      <h4><a href="/links">Lidhje</a></h4>
      Nëpërmjet njohligjin.al mund të lidheni gjithashtu me faqe te tjera të dobishme si ato të legjislacionit në fuqi, institucioneve shtetërore që janë në funksion të qytetarit, dhe organizatave të ndryshme.
    </div>
    <hr class="underline">
    <!-- <a href="/links" class="btn btn-default">Më shumë</a> -->
    </div>

  </div>
  </div>
  <!-- <div class="clearfix"></div> -->
  <p></p>
  <p></p>
  <p></p>
</div>
