---
layout: default
title: Çfarë janë të dhënat personale
image: bashkepronesia.png
category: mbrojtja
permalink: /mbrojtja/
---
<main id="content" class="content container mbrojtja" role="main" style="margin-bottom: 200px;">
  <h2 class="kat-title"><i class="fa fa-building"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container"  id="ref" >
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Çfarë janë të dhënat personale
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/mbrojtja/cfarë-janë-të-dhënat-personale">Çfarë janë të dhënat personale</a></li>
          {% for file in site.mbrotja-collection %}
          {% if file.tag == "cfarë-janë-të-dhënat-personale" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/mbrojtja/cfarë-janë-të-dhënat-personale#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 kategori-container" >
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
       Mbrojtja e të dhënave personale
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/mbrojtja/mbrojtja-e-të-dhënave-personale">Mbrojtja e të dhënave personale</a></li>
          {% for file in site.bashkepronesia-ne-ndertesa-collection %}
          {% if file.tag == "mbrojtja-e-të-dhënave-personale" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/mbrojtja/mbrojtja-e-të-dhënave-personale#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
</main>
