---
layout: default
title: Shkaktimi i dëmit
image: demi.png
category: shkaktimi-i-demit
permalink: /shkaktimi-i-demit/
---
<main id="content" class="content container demi" role="main" style="margin-bottom: 200px;">

  <h2 class="kat-title"><i class="fa fa-exclamation"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Shkaktimi i dëmit
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/shkaktimi-i-demit/shkaktimi-i-demit">Shkaktimi i dëmit</a></li>
          {% for file in site.shkaktimi-i-demit-collection %}
          {% if file.tag == "shkaktimi-i-demit" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/shkaktimi-i-demit/shkaktimi-i-demit#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Përgjegjësia nga produktet
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/shkaktimi-i-demit/pergjegjesia-nga-produktet">Përgjegjësia nga produktet</a></li>
          {% for file in site.shkaktimi-i-demit-collection %}
          {% if file.tag == "pergjegjesia-nga-produktet" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/shkaktimi-i-demit/pergjegjesia-nga-produktet#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Publikimi mashtrues
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/shkaktimi-i-demit/publikimi-mashtrues">Publikimi mashtrues</a></li>
          {% for file in site.shkaktimi-i-demit-collection %}
          {% if file.tag == "publikimi-mashtrues" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/shkaktimi-i-demit/publikimi-mashtrues#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Shperblimi i dëmit
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/shkaktimi-i-demit/shperblimi-i-demit">Shperblimi i dëmit</a></li>
          {% for file in site.shkaktimi-i-demit-collection %}
          {% if file.tag == "shperblimi-i-demit" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/shkaktimi-i-demit/shperblimi-i-demit#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
