<div class="clearfix"></div>
<footer class="site-footer clearfix">
  <div class="container">
    <div class="col-sm-4">
      <img src="/img/osbe-logo.PNG" alt="Organizata per Siguri dhe Bashkëpunim Evropian" width="100%" />
    </div>
    <div class="col-sm-4 text-center" style="font-size: 14px;margin-top: 25px;color: #555;margin-bottom: 25px;">
      Copyright <i class="fa fa-copyright"></i> NjohLigjin 2016
    </div>
    <div class="col-sm-4">
      <img src="/img/logo-canada.png" alt="Canada Fund for Local Initiatives" width="100%"/>
    </div>
  </div>
    <!-- <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    <section class="poweredby">Proudly published with <a href="#">Jekyl</a></section> -->
</footer>
