<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ site.description }}">
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/screen.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/master.css">
<!-- <script src="/scripts/jquery.js"></script> -->
<link rel="canonical" href="{{ page.url }}" />
<link rel="icon" href="/favicon.ico?">


<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ site.description }}.">
<meta property="og:url" content="http://njohligjin.al{{ page.url }}">
<meta property="og:image" content="http://njohligjin.al/img/{{ page.image }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:url" content="http://njohligjin.al{{ page.url }}">
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
