<header class="main-header no-cover">

    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" name="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#menu" aria-expanded="false">Menu</button>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
              <li><a href="http://njohligjin.github.io/">Kreu</a></li>
              <li><a href="http://njohligjin.github.io/about">Rreth nesh</a></li>
              <li><a href="http://njohligjin.github.io/links/">Linqe</a></li>
              <li><a href="http://njohligjin.github.io/burime">Burime dhe dokumenta</a></li>
              <li><a href="http://njohligjin.github.io/informacion-ligjor">Informacion ligjor</a></li>
              <li><a href="http://njohligjin.github.io/kontakt/">Kontakt</a></li>
              <li><a href="http://njohligjin.github.io/fjalorth/">Fjalorth</a></li>
        </ul>
      </div>
    </nav>
    <nav class="main-nav  clearfix"> <!-- overlay -->
        <div class="main-header-content container"> <!-- inner -->
         <div class="col-md-4 col-lg-4">
          <!-- {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}} -->
          <a href="/"><img id="logo" src="/images/logo.png"></a>
        </div>
        <div class="col-md-8 col-lg-8" id="search-container">
          <!-- <form class="forma-kerkimit form-inline" action="index.html" method="post">
            <input type="search" name="search" value="" class="form-control">
            <input type="button" name="submit" value="Kërko" class="form-control">
          </form> -->
          <form class="site-search">
              <input id="search-input" type="search" class="search-box form-control" placeholder="Kerko legjislacion">
              <button type="button" name="kerko" class="buton-kerkimi btn btn-primary">Kerko</button>
          </form>
          <div id="search-results">
            <ul id="results-container"></ul>
          </div>

          <!-- <div id="search-results" class="search-results"></div> -->
        </div>
        <!-- <div class="col-md-3 col-lg-3 social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
        </div> -->


           <!-- <h1 class="page-title">{{@blog.title}}</h1>
           <h2 class="page-description">{{@blog.description}}</h2> -->
       </div>
    </nav>
    <div class="vertical">

    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
