<script id="post-template" type="text/x-handlebars-template">
  {% raw %}
  <div class="col-md-3">
    <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
      {{#topics}}
      <li role="presentation">
        <a href="#{{@index}}" aria-controls="settings" role="tab" data-toggle="tab">{{title}}</a>
      </li>
      {{/topics}}
    </ul>
  </div>
  <div class="tab-content col-md-9">
    {{#topics}}
      <div role="tabpanel" class="tab-pane fade" id="{{@index}}">
        {{{text}}}
      </div>
    {{/topics}}
  </div>
  <hr>
  {% endraw %}
</script>
