---
title: "Sigurimi shoqëror i detyrueshëm"
role: main
layout: post
category: sigurimet-shoqerore
image: sigurimet.png
lang: sq
permalink: "/sigurimet-shoqerore/sigurimi-shoqeror-i-detyrueshem/"
order: 1
---
<div class="col-md-3">
  <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
    {% for file in site.sigurimet-shoqerore-collection %}
    {% if file.tag == "sigurimi-shoqeror-i-detyrueshem" %}
    {% assign counter=counter | plus:1 %}
    <li role="presentation">
      <a href="#{{ counter }}" aria-controls="settings" role="tab" data-toggle="tab">{{file.title}}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="tab-content col-md-9">
  {% for file in site.sigurimet-shoqerore-collection %}
  {% if file.tag == "sigurimi-shoqeror-i-detyrueshem" %}
  {% assign counter1=counter1 | plus:1 %}
    <div role="tabpanel" class="tab-pane fade {% if counter1 == 1 %} active in {% endif %} " id="{{ counter1 }}">
      {{ file.content }}
    </div>
  {% endif %}
  {% endfor %}
</div>
