---
layout: default
title: Procesi gjyqësor civil
image: procesi-civil.png
category: procesi-civil
permalink: /procesi-civil/
---
<main id="content" class="content container procesi" role="main" style="margin-bottom: 200px;">
  <h2 class="kat-title"><i class="fa fa-gavel"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Gjykata
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-civil/gjykata">Gjykata</a></li>
          {% for file in site.procesi-civil-collection %}
          {% if file.tag == "gjykata" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/procesi-civil/gjykata#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Ankimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-civil/ankimi">Ankimi</a></li>
          {% for file in site.procesi-civil-collection %}
          {% if file.tag == "ankimi" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/procesi-civil/ankimi#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Padia
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-civil/padia">Padia</a></li>
          {% for file in site.procesi-civil-collection %}
          {% if file.tag == "padia" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/procesi-civil/padia#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Ekzekutimi i detyrueshëm
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-civil/ekzekutimi-i-detyrueshem">Ekzekutimi i detyrueshëm</a></li>
          {% for file in site.procesi-civil-collection %}
          {% if file.tag == "ekzekutimi-i-detyrueshem" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/procesi-civil/ekzekutimi-i-detyrueshem#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>  -->
</main>
