---
layout: default
title: Mjedisi
image: mjedisi.png
category: mjedisi
permalink: /mjedisi/
---
<main id="content" class="content container mjedisi" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.mjedisi %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->

  <h2 class="kat-title"><i class="fa fa-tree"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Shqetësimi dhe dëmtimi nga zhurmat
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/mjedisi/shqetesimi-dhe-demtimi-nga-zhurmat">Shqetësimi dhe dëmtimi nga zhurmat</a></li>
          {% for file in site.mjedisi-collection %}
          {% if file.tag == "shqetesimi-dhe-demtimi-nga-zhurmat" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/mjedisi/shqetesimi-dhe-demtimi-nga-zhurmat#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Ajri
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/mjedisi/ajri">Ajri </a></li>
          {% for file in site.mjedisi-collection %}
          {% if file.tag == "ajri" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/mjedisi/ajri#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Menaxhimi i burimeve ujore
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/mjedisi/menaxhimi-i-burimeve-ujore">Menaxhimi i burimeve ujore</a></li>
          {% for file in site.mjedisi-collection %}
          {% if file.tag == "menaxhimi-i-burimeve-ujore" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/mjedisi/menaxhimi-i-burimeve-ujore#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Menaxhimi i mbetjeve
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/mjedisi/menaxhimi-i-mbetjeve">Menaxhimi i mbetjeve </a></li>
          {% for file in site.mjedisi-collection %}
          {% if file.tag == "menaxhimi-i-mbetjeve" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/mjedisi/menaxhimi-i-mbetjeve#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
