
---
layout: default
title: puna1
image: puna.png
category: puna1
permalink: /puna1/
---
<main id="content" class="content container puna" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.puna %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->
  <h2 class="kat-title"><i class="fa fa-cogs"></i> </h2>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Kontrata e 1
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/puna1/kontrata-e-1">Kontrata e punës</a></li>
          {% for file in site.puna-collection %}
          {% if file.tag == "kontrata-e-1" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/puna/kontrata-e-1#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
      
<!-- </div> -->
</main>
