---
layout: default
title: Procesi Legjislativ
image: familja.png
category: proceset-gjyqesore
permalink: /proceset-gjyqesore/
---
<main id="content" class="content container proceset-gjyqesore" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.proceset-gjyqesore %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %} -->
<h2 class="kat-title"><i class="fa fa-users"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Procesi Gjyqesor Civil
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/proceset-gjyqesore/procesi-gjyqesor-civil">Çfarë është ligji</a></li>
          {% for file in site.proceset-gjyqesore-collection %}
          {% if file.tag == "procesi-gjyqesor-civil" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/proceset-gjyqesore/procesi-gjyqesor-civil#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </div> 
</main>
