---
layout: default
title: Informimi publik
image: informimi.png
category: informimi-publik
permalink: /informimi-publik/
---
<main id="content" class="content container informimi" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.informimi-publik %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->
  <h2 class="kat-title"><i class="fa fa-info-circle"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-lg-offset-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        E drejta për informim
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/informimi-publik/e-drejta-per-informim/">E drejta për informim</li>
            {% for file in site.informimi-publik-collection %}
            {% if file.tag == "e-drejta-per-informim" %}
            {% assign counter=counter | plus:1 %}
              <li><a href="/informimi-publik/e-drejta-per-informim#{{counter}}">{{file.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Kërkesa për informim
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/informimi-publik/kerkesa-per-informim/">Kërkesa për informim </li>
            {% for file in site.informimi-publik-collection %}
            {% if file.tag == "kerkesa-per-informim" %}
            {% assign counter1=counter1 | plus:1 %}
              <li><a href="/informimi-publik/kerkesa-per-informim#{{counter1}}">{{file.title}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
