---
layout: default
title: Procesi Legjislativ ne Shqiperi
image: familja.png
category: procesi-legjislativ-ne-shqiperi
permalink: /procesi-legjislativ-ne-shqiperi/
---
<main id="content" class="content container procesi-legjislativ-ne-shqiperi" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.procesi-legjislativ-ne-shqiperi %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
{% endfor %} -->
<h2 class="kat-title"><i class="fa fa-users"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Martesa
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/familja/martesa">Martesa</a></li>
          {% for file in site.familja-collection %}
          {% if file.tag == "martesa" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/familja/martesa#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Kujdestaria
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/familja/kujdestaria">Kujdestaria </a></li>
          {% for file in site.familja-collection %}
          {% if file.tag == "kujdestaria" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/familja/kujdestaria#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Dhuna në familje
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/familja/dhuna-ne-familje">Dhuna në familje</a></li>
          {% for file in site.familja-collection %}
          {% if file.tag == "dhuna-ne-familje" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/familja/dhuna-ne-familje#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </div> 
</main>
