---
title: "Shkaktimi i dëmit"
role: main
layout: post
category: shkaktimi-i-demit
image: demi.png
lang: sq
permalink: /shkaktimi-i-demit/shkaktimi-i-demit/
order: 1
---
<div class="col-md-3">
  <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
    {% for file in site.shkaktimi-i-demit-collection %}
    {% if file.tag == "shkaktimi-i-demit" %}
    {% assign counter=counter | plus:1 %}
    <li role="presentation">
      <a href="#{{ counter }}" aria-controls="settings" role="tab" data-toggle="tab">{{file.title}}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="tab-content col-md-9">
  {% for file in site.shkaktimi-i-demit-collection %}
  {% if file.tag == "shkaktimi-i-demit" %}
  {% assign counter1=counter1 | plus:1 %}
    <div role="tabpanel" class="tab-pane fade {% if counter1 == 1 %} active in {% endif %} " id="{{ counter1 }}">
      {{ file.content }}
    </div>
  {% endif %}
  {% endfor %}
</div>
