---
layout: default
title: Ndihma juridike
image: ndihma-juridike.png
category: ndihma-juridike
permalink: /ndihma-juridike/
---
<main id="content" class="content container ndihma" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.ndihma-juridike %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->
  <h2 class="kat-title"><i class="fa fa-balance-scale"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Çfarë është ndihma juridike
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/cfare-eshte-ndihma-juridike/">Çfarë është ndihma juridike </a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "cfare-eshte-ndihma-juridike" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/ndihma-juridike/cfare-eshte-ndihma-juridike#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Kërkesa për ndihmë juridike
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/kerkesa-per-ndihme-juridike">Kërkesa për ndihmë juridike</a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "kerkesa-per-ndihme-juridike" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/ndihma-juridike/kerkesa-per-ndihme-juridike#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Përfitimi i ndihmës juridike
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/perftimi-i-ndihmes-juridike">Përfitimi i ndihmës juridike</a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "perftimi-i-ndihmes-juridike" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/ndihma-juridike/perftimi-i-ndihmes-juridike#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Ofrimi i ndihmës juridike
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/ofrimi-i-ndihmes-juridike">Ofrimi i ndihmës juridike</a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "ofrimi-i-ndihmes-juridike" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/ndihma-juridike/ofrimi-i-ndihmes-juridike#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
