---
layout: default
title: Ndihma juridike
image: ndihma-juridike.png
category: ndihma-juridike
permalink: /ndihma-juridike/
---
<main id="content" class="content container ndihma" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.ndihma-juridike %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->
  <h2 class="kat-title"><i class="fa fa-balance-scale"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Kuptimi i Shërbimit të Ndihmës Juridike
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/kuptimi-i-shërbimit-të-ndihmës-juridike/">Kuptimi i Shërbimit të Ndihmës Juridike </a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "Kuptimi-i-Shërbimit-të-Ndihmës-Juridike" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/ndihma-juridike/kuptimi-i-shërbimit-të-ndihmës-juridike#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
       Ndihma Juridike Parësore
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/kerkesa-per-ndihme-juridike">Ndihma Juridike Parësore</a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "Ndihma-Juridike-Parësore" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/ndihma-juridike/Ndihma-Juridike-Parësore#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Ndihma Juridike Dytësore
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/perftimi-i-ndihmes-juridike">Ndihma Juridike Dytësore</a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "Ndihma-Juridike-Dytësore" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/ndihma-juridike/Ndihma-Juridike-Dytësore#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
       Përjashtimi nga pagimi i tarifave dhe shpenzimeve gjyqësore
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ndihma-juridike/ofrimi-i-ndihmes-juridike">Përjashtimi nga pagimi i tarifave dhe shpenzimeve gjyqësore.</a></li>
          {% for file in site.ndihma-juridike-collection %}
          {% if file.tag == "Përjashtimi-nga-pagimi-i-tarifave-dhe-shpenzimeve-gjyqësore" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/ndihma-juridike/Përjashtimi-nga-pagimi-i-tarifave-dhe-shpenzimeve-gjyqësore#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
