---
layout: default
title: Kodi rrugor
image: kodi-rrugor.png
category: kodi-rrugor
permalink: /kodi-rrugor/
---
<main id="content" class="content container kodi-rrugor" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.kodi-rrugor %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->


  <h2 class="kat-title"><i class="fa fa-car"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Si veprohet në rrugë
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/si-veprohet-ne-rruge">Si veprohet në rrugë </a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "si-veprohet-ne-rruge" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/kodi-rrugor/si-veprohet-ne-rruge#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Mjetet rrugore
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/mjetet-rrugore">Mjetet rrugore </a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "mjetet-rrugore" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/kodi-rrugor/mjetet-rrugore#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Drejtimi i mjeteve
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/drejtimi-i-mjeteve">Drejtimi i mjeteve </a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "drejtimi-i-mjeteve" %}
          {% assign counter2=counter2 | plus:1 %}
            <li><a href="/kodi-rrugor/drejtimi-i-mjeteve#{{counter2}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Lejedrejtimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/lejedrejtimi">Lejedrejtimi </a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "lejedrejtimi" %}
          {% assign counter3=counter3 | plus:1 %}
            <li><a href="/kodi-rrugor/lejedrejtimi#{{counter3}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Shpejtësia
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/shpejtesia">Shpejtësia </a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "shpejtesia" %}
          {% assign counter4=counter4 | plus:1 %}
            <li><a href="/kodi-rrugor/shpejtesia#{{counter4}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Këmbësorët
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/kembesoret">Këmbësorët </a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "kembesoret" %}
          {% assign counter5=counter5 | plus:1 %}
            <li><a href="/kodi-rrugor/kembesoret#{{counter5}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Shkeljet
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/shkeljet">Shkeljet</a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "shkeljet" %}
          {% assign counter6=counter6 | plus:1 %}
            <li><a href="/kodi-rrugor/shkeljet#{{counter6}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
   <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Shkeljet
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/kodi-rrugor/shkeljet">Sigurimi i detyrueshëm në sektorin e transportit </a></li>
          {% for file in site.kodi-rrugor-collection %}
          {% if file.tag == "shkeljet" %}
          {% assign counter7=counter7 | plus:1 %}
            <li><a href="/kodi-rrugor/Sigurimi-i-detyrueshëm-në-sektorin-e-transportit#{{counter7}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</main>
