---
title: "Ankimi ne gjykatë"
role: main
layout: post
category: ankimi-administrativ
image: ankimi.png
lang: sq
permalink: /ankimi-administrativ/ankimi-ne-gjykate/
---
<div class="col-md-3">
  <ul class="nav nav-tabs custom-nav-tabs" role="tablist">
    {% for file in site.ankimi-administrativ-collection %}
    {% if file.tag == "ankimi-ne-gjykate" %}
    {% assign counter=counter | plus:1 %}
    <li role="presentation">
      <a href="#{{ counter }}" aria-controls="settings" role="tab" data-toggle="tab">{{file.title}}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
<div class="tab-content col-md-9">
  {% for file in site.ankimi-administrativ-collection %}
  {% if file.tag == "ankimi-ne-gjykate" %}
  {% assign counter1=counter1 | plus:1 %}
    <div role="tabpanel" class="tab-pane fade {% if counter1 == 1 %} active in {% endif %} " id="{{ counter1 }}">
      {{ file.content }}
    </div>
  {% endif %}
  {% endfor %}
</div>
