<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="site-wrapper">
      {% include header.html %}

      <main id="content" class="content container">
        <div class="controls">
            <button type="button" name="dec" class="btn btn-default">-A</button><!--
            --><button type="button" name="inc" class="btn btn-default">A+</button>
        </div>
        <div class="col-md-3" style="margin-top: 15px;">
          <span class="kat"><a href="/{{ page.category }}">{{ page.category | capitalize | replace: '-',' ' }}</a></span> / <span>{{ page.title }}</span>
        </div>
        <div class="post-title col-md-offset-3">
          {{ page.title }}
        </div>
        <div class="clearfix"></div>
        <!-- <div class="col-md-9 col-md-offset-3">

        </div> -->
        {{ content }}
        <div class="clearfix"></div>
        <div class="legal-reference col-md-offset-3 col-md-9">
        </div>
        <div class="disclaimer col-md-offset-3 col-md-9">
          <em>Kujdes! <br/>
            Informacioni i paraqitur në këtë faqe përshkruan situatën sipas legjislacionit në fuqi në Republikën e Shqipërisë.
            Ky legjislacion mund të jetë objekt ndryshimi apo shfuqizimi. Informacioni ka vetëm qëllim informimi dhe nuk duhet të konsiderohet si këshillim apo opinion ligjor.
            Për zgjidhjen e një rasti specifik kërkoni ndihmë profesionale.
          </em>
        </div>
      </main>
      {% include post_template.html %}
      {% include footer.html %}
    </div>
    <div id="search-results">
      <ul style="" id="results-container"></ul>
    </div>
    {% include feedback.html %}
    {% include scripts.html %}
  </body>
</html>
