---
layout: default
title: Ankimi administrativ
image: ankimi.png
category: proceset-gjyqesore
permalink: proceset-gjyqesore/procesi-civil/
---
<main id="content" class="content container ankimi" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.ankimi-administrativ %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->

  <h2 class="kat-title"><i class="fa fa-university"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Ankimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/ankimi/">Ankimi</a></li>
          {% for file in site.ankimi-collection %}
          {% if file.tag == "ankimi" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/ankimi#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </main>
