---
layout: default
title: Procesi Gjyqesor Penal
image: ankimi.png
category: procesi-penal
permalink: /procesi-penal/
---
<main id="content" class="content container procesi-penal" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.procesi-penal %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->

  <h2 class="kat-title"><i class="fa fa-university"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Provat
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-penal/provat/">Provat</a></li>
          {% for file in site.procesi-penal-collection %}
          {% if file.tag == "provat" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/procesi-penal/provat#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Gjykata
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-penal/gjykata/">Gjykata</a></li>
          {% for file in site.procesi-penal-collection %}
          {% if file.tag == "gjykata" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/procesi-penal/gjykata#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
       Ankimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-penal/ankimi/">Ankimi</a></li>
          {% for file in site.procesi-penal-collection %}
          {% if file.tag == "ankimi" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/procesi-penal/ankimi#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div><div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
       Ekstradimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/procesi-penal/ekstradimi/">Ekstradimi</a></li>
          {% for file in site.procesi-penal-collection %}
          {% if file.tag == "ekstradimi" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/procesi-penal/ekstradimi#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div></div>

</main>
