---
layout: default
title: Diskriminimi
image: familja.png
category: diskriminimi
permalink: /diskriminimi/
---
<main id="content" class="content container diskriminimi" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.diskriminimi %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->

  <h2 class="kat-title"><i class="fa fa-users"></i> {{page.title}}</h2>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Martesa
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/diskriminimi/martesa">Martesa</a></li>
          {% for file in site.diskriminimi-collection %}
          {% if file.tag == "martesa" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/diskriminimi/martesa#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
 
  
</main>
