---
layout: default
title: Diskriminimi
image: puna.png
category: diskriminimi
permalink: /diskriminimi/

---
<main id="content" class="content container diskriminimi" role="main" style="margin-bottom: 200px;">
  <!-- {% for post in site.categories.diskriminimi %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %} -->
  <h2 class="kat-title"><i class="fa fa-cogs"></i> </h2>

  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 kategori-container">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Cfare eshte diskriminimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/diskriminimi/cfare-eshte-diskriminimi">Cfare eshe diskriminimi</a></li>
          {% for file in site.diskriminimi-collection %}
          {% if file.tag == "cfare-eshte-diskriminimi" %}
          {% assign counter=counter | plus:1 %}
            <li><a href="/diskriminimi/cfare-eshte-diskriminimi#{{counter}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 kategori-container" id="ref">
    <div class="kategori-ligjore">
      <div class="kategori-ligjore-titull">
        Mbrojtja nga diskriminimi
      </div>
      <div class="kategori-details">
        <ul>
          <li><a href="/diskriminimi/mbrojtja-nga-diskriminimi">Mbrojtja nga diskriminimi</a></li>
          {% for file in site.diskriminimi-collection %}
          {% if file.tag == "mbrojtja-nga-diskriminimi" %}
          {% assign counter1=counter1 | plus:1 %}
            <li><a href="/diskriminimi/mbrojtja-nga-diskriminimi#{{counter1}}">{{file.title}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
<!-- </div> -->
</main>
